name: CI

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

env:
  CARGO_TERM_COLOR: always

jobs:
  build-mac:
    runs-on: macos-14
    strategy:
      fail-fast: false
    steps:
      - uses: actions/checkout@v3
      - uses: jdx/mise-action@v3
      - name: Install Rust stable
        run: |
          rustup toolchain install stable
          rustup target add wasm32-wasip1
          rustup component add rustfmt
      - name: Install Clang 19
        run: brew install llvm@19
      - name: Run `cargo xtask ci`
        run: CC=$(brew --prefix llvm@19)/bin/clang CXX=$(brew --prefix llvm@19)/bin/clang++ cargo xtask ci

  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        cpp_compiler:
          - clang++
          - g++
    env:
      CXX: ${{ matrix.cpp_compiler }}
    steps:
      - uses: actions/checkout@v3
      - uses: jdx/mise-action@v3
      - name: Install Rust stable
        run: |
          rustup toolchain install stable
          rustup target add wasm32-wasip1
          rustup component add rustfmt
      - name: Install LLD for clang++
        if: matrix.cpp_compiler == 'clang++'
        run: sudo apt-get update && sudo apt-get install -y lld
      - name: Run CI (clang++)
        if: matrix.cpp_compiler == 'clang++'
        run: CC=clang cargo xtask ci
      - name: Run CI (g++)
        if: matrix.cpp_compiler == 'g++'
        run: cargo xtask ci
